.navbar {
    display: flex;
    height: 12vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 3;
    background-color: #fff;
}

.navbar ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    color: hsl(233, 8%, 62%);
}


